<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../static/dist/img/logo.png">
  <title>GROUP SIX</title>

  <!-- Google Font: Quicksand -->
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">  <!-- Icons -->
  <link rel="stylesheet" href="../static/plugins/fontawesome-free/css/all.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="../static/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="../static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="../static/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../static/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="../static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="../static/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="../static/plugins/summernote/summernote-bs4.min.css">

  <link rel="stylesheet" href="../static/css/style.css">
  
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
<!--  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="../static/dist/img/logo.png" alt="AdminLTELogo" height="80" width="80">
  </div> -->

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class='bx bx-category sidebar-toggle'></i></a>
      </li>
      <li class="info nav-item d-none d-sm-inline-block">
        <h1>Dengue Report</h1>
        <p>Shown below is the detailed report of dengue incidents from the year 2016 to 2021 in the Philippines</p>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside style="background: #000;" class="main-sidebar elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="mt-2 pb-3 d-flex brand-link">
      <img src="../static/dist/img/logo.png" style="background: white; opacity: .8; font-size: 50px;" class="brand-image img-circle elevation-3 mr-3">
      <span style="font-family: 'Bungee Spice', sans-serif;" class="brand-text">Group Six</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../static/dist/img/user4-128x128.jpg" style="width: 40px; height: 40px;" class="brand-image img-circle elevation-2">
        </div>
        <div class="info uinfo">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->


          <li class="nav-item mt-3 mb-2">
            <a href="{% url 'dengue' %}" style="background: #ffc107;" class="icon nav-link active">
              <i class=" nav-icon bx bx-plus-medical"></i>
              <p> Dengue Report </p>
            </a>
          </li>

          <li class="nav-item mb-2">
            <a href="#" class="nav-link icon_idle">
              <i class=" nav-icon bx bxs-compass"></i>
              <p> Project2 Report </p>
            </a>
          </li>

          <li class="nav-item mb-2">
            <a href="{% url 'education' %}" class="nav-link icon_idle">
              <i class="nav-icon bx bxs-book-bookmark"></i>
              <p> Education Report </p>
            </a>
          </li>

          <li style="color:white;" class="nav-header">OTHERS</li>
          <li class="nav-item pb-3 mb-3">
                <a href="#" class="nav-link icon_idle">
                <i class="nav-icon fas fa-gear"></i>
                <p>
                    Settings
                    <i class="fas fa-angle-left right"></i>
                </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sign Out</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mt-3 mb-2">
            <div class="col-sm-6">
                <h1 class="m-0"></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li style=" color: black; text-transform: uppercase; font-weight: bold;" class="breadcrumb-item active">Dengue Report</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">

                <!-- <div class="col-lg-4 col-6">
                    <div style="background: #ffc107;" class="small-box shadow">
                        <div class="inner">
                          <h3> </h3>
                          <p>Total Report</p>
                        </div>
                        <div class="icon"> <i class="bx bxs-bar-chart-alt-2"></i> </div>
                    <a href="#" style="color: black;" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div> -->
                <!-- /.col -->
                <div class="col-md-6 col-6">
                    <!-- small card for Male -->
                    <div style="background: #ffc107;" class="small-box shadow">
                        <div class="inner">
                          <h3>{{ total_cases }}</h3>
                          <p>Cases</p>
                        </div>
                        <div class="icon">
                          <i class='bx bx-first-aid'></i>
                        </div>
                    <a href="#" style="color: black;" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-md-6 col-6">
                    <!-- small card for females -->
                    <div style="background: #ffc107;" class="small-box shadow">
                        <div class="inner">
                          <h3>{{ total_deaths }} </h3>
                          <p>Deaths</p>
                        </div>
                        <div class="icon">
                          <i class='bx bxs-virus'></i>
                        </div>
                    <a href="#" style="color: black;" class="small-box-footer"> More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Main row -->

            <div class="row">

              <div class="col-md-12">
                <!-- LINE CHART -->
                <div class="card card-warning">
                  <div class="card-header">
                    <h5 style="font-weight:600;" class="card-title">Dengue Cases over year</h5>
                  </div>

                    <div class="card-body">
                      <div class="chart">
                        <canvas id="linechart" style="min-height: 275px; height: 275px; max-height: 275px; max-width: 100%;"></canvas>
                      </div>
                    </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>


              <!-- dropdown -->
              <div class="col-12 selection">
                  <!-- Example single danger button -->
                      <div class="btn-group">
                        
                          <select id="chartSelector" onchange="YearlyChart()" >
                              <option selected disabled value="2016">Select Year</option>
                            {% for year in year_label %}
                                <option value="{{ year }}">Year: {{ year }}</option>
                            {% endfor %}
                          </select>
                          <div class="icon-select">
                            <i class='bx bx-caret-down' ></i>
                          </div>
                      </div>
                      <!-- <div class="btn-group">
                          <select id="regionSelector" onchange="updateRegionChart()">
                            <option selected disabled value="BARMM">Select Region</option>
                            {% for region in region_label %}
                                <option value="{{ region }}">{{ region }}</option>
                            {% endfor %}
                          </select>

                          <div class="icon-select">
                            <i class='bx bx-caret-down' ></i>

                          </div>

                      </div> -->
              </div>

              <div class="col-md-12">

                <div class="card card-warning">
                  <div class="card-header">
                    <h5 style="font-weight:600;" class="card-title" id="monthly_title">
                      Dengue Incidence Trends in [Year]
                    </h5>

                  </div>
                  <div class="card-body">

                    <div class="row info-graph">
                        <div class="col-md-7">
                            <div class="" style="margin-bottom: 2rem;">
                                <div id="byRegion_title" style="text-transform: capitalize; color: #212529; margin-bottom: 0px;">
                                Year Dengue Incidence       
                                </div>
                                <div class="row">
                                    <div class="col " id="stat_box" style="margin: auto !important;" >
                                        <div class="stat_box" style="width: 70%;">
                                          <p style="font-weight: bold;">Cases</p>
                                          <p id="caseChange" style="text-align: right;"></p>
                                          <!-- <p style="text-align: right;">7.74</p> -->
                                          <p style="text-align: right;">From previous Year</p>
                                        </div>

                                          <div class="stat_box"  style="border-top: 1px solid rgb(231, 224, 224); width: 70%; ">
                                            <p style="font-weight: bold;">Death</p>
                                            <p id="deathChange" style="text-align: right;"><i class='bx bx-trending-up' style="color: green;"></i>86%</p>
                                            <!-- <p style="text-align: right;">7.74</p> -->
                                            <p style="text-align: right;">From previous Year</p>
                                          </div>
                                    </div>

                                    <div class="col">
                                      <canvas  id="total_year_chart" style="height: 200px !important; width: 200px !important;"></canvas>
                                    </div>

                                </div>
                            </div>
                            <div class="" style="border-top: 2px solid rgb(231, 224, 224); margin-bottom: 10px; height: 200px !important; width: 100%;">
                                <!-- <select id="chartSelector" onchange="updateChart()">
                                  {% for year in year_label %}
                                      <option value="{{ year }}">{{ year }}</option>
                                  {% endfor %}
                                </select> -->
                                <div id="" style="text-transform: capitalize; color: #212529; margin-bottom: 20px; margin-top: 10px;">
                                  Monthly Dengue Incidence  
                                  </div>
                                <canvas id="monthly_chart" style="height: 100%; width: 100%;"></canvas>
                            </div>

                        </div>
                        <div class="col-md-5 top-region" style="border-left: 2px solid rgb(231, 224, 224);">
                          <div id="byRegion_title" style="text-transform: capitalize; color: #212529; margin-bottom: 20px;">
                            Top Trends in Dengue Incidence Cases by Region       
                            </div>
                          <div class="" style="margin: auto;">
                            <canvas id="year_regionchart" ></canvas>

                          </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;" >
                          <p id="interpretation"> </p>
                          </div>
                    </div>


                  </div>
                  <!-- /.card-body -->
                </div>
                
              </div>

              
              <!-- <div class="col-md-6">
                <div class="card card-warning">
                  <div class="card-header">
                    <h5 style="font-weight:600;" class="card-title" >
                      Dengue Cases Over Year
                    </h5>
                  </div>

                  <div class="card-body">
                    <canvas id="year_regionchart" style="height: 300px;"></canvas>
                  </div>
                </div>
    
              </div> -->

              <!-- <div class="col-md-6">
    
                <div class="card card-warning">
                  <div class="card-header">
                    <h5 style="font-weight:600"; class="card-title">
                      Dengue Incidents and Fatalities by Year
                    </h5>
                  </div>
                  <div class="card-body">
                    <canvas id="total_year_chart" style="min-height: 270px; height: 270px; max-height: 270px; max-width: 100%;"></canvas>
                  </div>
                </div>
    
              </div> -->
              <!-- /.col (LEFT) -->

              <!-- <div class="col-md-6">

                
                  <div class="card card-warning">
                    <div class="card-header">
                      <h5 style="font=weight:600;" class="card-title" id="regionTitle">Dengue Cases</h5>
                    </div>

                    <div class="card-body">
                      <div class="chart">

                        <select id="regionSelector" onchange="updateRegionChart()">
                          {% for region in region_label %}
                              <option value="{{ region }}">{{ region }}</option>
                          {% endfor %}
                        </select>

                        <canvas id="regioncharts" style="min-height: 250px; height: 200px; max-height: 250px; max-width: 100%;"></canvas>
                      </div>
                    </div>
                  </div>
              </div> -->

            </div>
            
            <!-- table -->
            <div class="row">
              <div class="col-12">
                <div class="card card-warning">
                  <div class="card-header">
                    <h5 style="font-weight:600;" class="card-title">
                      Dengue Cases Report
                    </h5>
                  </div>

                  <div class="card-body">
                    <table id="myTable" class="display table table-hover" style="height: 300px;">
                      <thead>
                          <tr>
                              <th>Region</th>
                              <th>Location</th>
                              <th>Date</th>
                              <th>Cases</th>
                              <th>Death</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for entry in dengue_data %}
                          <tr>
                              <td>{{ entry.Region }}</td>
                              <td>{{ entry.Location }}</td>
                              <td>{{ entry.Date }}</td>
                              <td>{{ entry.Cases }}</td>
                              <td>{{ entry.Deaths }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
    
              </div>
            </div>
            <!-- /.row -->
            
            <!-- /.Main row -->
            
        </div>
        <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer style="background: #000; color: white; text-transform: uppercase; font-size: 12px; text-align: center;" class="main-footer">
        <strong> &copy; 2023-2024
            <a style="color: white; text-transform: uppercase; font-size: 12px;" href="">Group Six</a>.
            All rights reserved.
        </strong>
    </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- jQuery UI 1.11.4 -->
  <!-- jQuery -->
  <script src="../static/plugins/jquery/jquery.min.js"></script>

  <script src="../static/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

<!-- Bootstrap 4 -->
<script src="../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<!-- <script src="../static/plugins/chart.js/Chart.min.js"></script> -->

<!-- daterangepicker -->
<script src="../static/plugins/moment/moment.min.js"></script>
<script src="../static/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="../static/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>

<!-- overlayScrollbars -->
<script src="../static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="../static/dist/js/adminlte.js"></script>

    // <!-- datatable CDN -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
    

    // <!-- chart.JS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>


<script>
   $(document).ready(function() {
    $('#myTable').DataTable( {
      dom: 'Bfrtip',
      "ordering": false,
      buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
      ]
  } );
} );

</script>

    <!-- Bootstrap 5 -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="../static/js/sidebar.js"></script>
   
   
    <!-- chart  -->
   <script>


let line = document.querySelector("#linechart");
line.height = 200;

let linechart = new Chart(line, {
    type: "line",
    data: {
        labels:{{ year_label|safe }} ,
        datasets: [
            {
                label: "Case",
                borderColor: "orange",
                borderWidth: "3",
                backgroundColor: "rgba(235, 247, 245, 0.5)",
                data: {{ year_cases|safe }}
            },

            {
                label: "Death",
                borderColor: "red",
                borderWidth: "3",
                backgroundColor: "rgba(235, 247, 245, 0.5)",
                data:{{ year_deaths|safe }},
                pointBackgroundColor: 'red', // Set the point color
                pointBorderColor: 'black', // Set the point border color
                pointRadius: 5, // Set the point radius
                pointHoverRadius: 7, // Set the point hover radius
            }
        ]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true
            }
        },
        plugins: {
            datalabels: {
                display: 'auto',
                color: 'black',
                align: 'top',
                anchor: 'end'
            }
        }
    },
    plugins: [ChartDataLabels]

});



   
  </script>

<script>
  
// Monthly chart
var ctxMonthly = document.getElementById('monthly_chart').getContext('2d');
// ctxMonthly.height = 200;
// ctxMonthly.width = 200;
var monthlyChart;
var monthlyCases = JSON.parse('{{ monthly_cases_json|escapejs|safe }}');

// Yearly region chart
var ctxYearRegion = document.getElementById('year_regionchart');
ctxYearRegion.height = 320;
ctxYearRegion.width = 300;



var yearRegionChart;
var regionYearlyCases = JSON.parse('{{ region_yearly_cases_json|escapejs|safe }}');

// Total yearly chart
var ctxTotalYear = document.getElementById('total_year_chart').getContext('2d');
ctxTotalYear.height = 200;
ctxTotalYear.width = 200;
var totalYearChart;
var totalYearlyCases = JSON.parse('{{ total_yearly_cases_json|escapejs|safe }}');

// YearlyChart();

// Function to update both charts
function YearlyChart() {
    var selectedYear = document.getElementById('chartSelector').value;

    document.getElementById('monthly_title').innerText = selectedYear + ' Trends in Dengue Incidents';

    // Update monthly chart
    var selectedYearDataMonthly = monthlyCases[selectedYear];
    if (monthlyChart) {
        monthlyChart.destroy();
    }
    monthlyChart = new Chart(ctxMonthly, {
        type: 'bar',
        data: {
            labels: Object.keys(selectedYearDataMonthly),
            datasets: [
                {
                    label: 'Dengue Cases',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: Object.values(selectedYearDataMonthly),
                },
                
            ],
        }, 
        options: {

          maintainAspectRatio: false, // Set to false to control the height manually
        aspectRatio: 2,
            responsive: true,

            scales: {
                y: {
                    beginAtZero: true,
                    grid: {
                        display: false, // Hide grid lines for the x-axis
                    },
                },
                x: {
                    grid: {
                        display: false, // Hide grid lines for the x-axis
                    },
                },
            },

              plugins: {
          datalabels: {
            anchor: 'end',
            align: 'end',
            labels: {
              value: {
                color: 'black'
                          }
                        }

                  }
                },
        },

        plugins: [ChartDataLabels]
    });

    // Update yearly region chart
    var selectedYearDataRegion = regionYearlyCases[selectedYear];

    if (yearRegionChart) {
        yearRegionChart.destroy();
    }
    yearRegionChart = new Chart(ctxYearRegion, {
        type: 'bar',
        data: {
            labels: Object.keys(selectedYearDataRegion),
            datasets: [
                {
                    label: 'Dengue Cases',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    data: Object.values(selectedYearDataRegion)
                },
            ],
        },
            options: {
              
            responsive: true,
            indexAxis: 'y',
            scales: {
                x: {
                    grid: {
                        display: false, // Hide grid lines for the x-axis
                    },
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        display: false, // Hide grid lines for the y-axis
                    },
                },
            },

            plugins: {
        datalabels: {
          anchor: 'end',
          align: 'end',
          labels: {
            value: {
              color: 'black'
            }
          }

        }
      },
        }, 
        plugins: [ChartDataLabels]
    });

    //update total cases yearly 

    // Get data for the selected year
    var selectedYearData = totalYearlyCases[selectedYear];

    var prevYear = getPrevYear(selectedYear);

      if (totalYearlyCases[prevYear]) {
        document.getElementById('stat_box').style.display = 'block';

          var prevYearData = totalYearlyCases[prevYear];

          // Calculate the percentage change for Dengue cases
          var dengueCasesPercentageChange = calculatePercentageChange(selectedYearData.cases, prevYearData.cases);
          var deathPercentageChange = calculatePercentageChange(selectedYearData.deaths, prevYearData.deaths);
          // Check the sign of the percentage change
          if (dengueCasesPercentageChange > 0) {

                document.getElementById('caseChange')
                .innerHTML =  dengueCasesPercentageChange.toFixed(0) + "% <i class='bx bx-trending-up' style='color: green;' ></i>";
                console.log("Percentage Increase in Dengue Cases: " + dengueCasesPercentageChange + "%");
            } else if (dengueCasesPercentageChange < 0) {
                
              document.getElementById('caseChange')
                .innerHTML = Math.abs(dengueCasesPercentageChange).toFixed(0) + "% <i class='bx bx-trending-down' style='color: red;'></i>";
                
              console.log("Percentage Decrease in Dengue Cases: " + Math.abs(dengueCasesPercentageChange) + "%");
            } else {
                console.log("No Change in Dengue Cases");
            }  

            // death display
            if (deathPercentageChange > 0) {

                  document.getElementById('deathChange')
                  .innerHTML = deathPercentageChange.toFixed(0) + "% <i class='bx bx-trending-up' style='color: green;' ></i>";
                  console.log("Percentage Increase in Death Cases: " + deathPercentageChange + "%");
              } else if (deathPercentageChange < 0) {
                      document.getElementById('deathChange')
                      .innerHTML = "" + Math.abs(deathPercentageChange).toFixed(0) + "% <i class='bx bx-trending-down' style='color: red;'></i>";
                      console.log("Percentage decrease in Death Cases: " + deathPercentageChange + "%");
                    } else {
                     
                      console.log("No Change in Dengue Cases");
                  }  
                 
     } else {
      document.getElementById('stat_box').style.display = 'none';
      }

      // Function to calculate percentage change
      function calculatePercentageChange( newValue, oldValue) {
          return ((newValue - oldValue) / oldValue) * 100;
      }
     
      // Function to get the next year
      function getPrevYear(currentYear) {
          return currentYear - 1;
      }

    // Destroy existing chart (if any)
    if (totalYearChart) {
        totalYearChart.destroy();
    }

    // Create a new pie chart with the selected year's data
    totalYearChart = new Chart(ctxTotalYear, {
        type: 'doughnut',
        data: {
            labels: ['Cases', 'Deaths'],
            datasets: [
                {
                    data: [selectedYearData.cases, selectedYearData.deaths],
                    backgroundColor: ['rgb(255, 99, 132, 0.5)', 'rgb(54, 162, 235)'],
                    borderColor: ['orange', 'rgba(255, 99, 132, 1)'],
                    borderWidth: 1,
                },
            ],
        },
        options: {
          maintainAspectRatio: false,
            responsive: true,
  
        },
        plugins: [ChartDataLabels]
    });


    interpret(selectedYear);

    function interpret(year){
      if (year === '2016') {

        var interpretationText =
        "In 2016, there were 209,544 reported Dengue cases with 8,127 associated deaths. " +
        "The peak monthly incidence in August underscores the significance of targeted interventions. " +
        "Notably, Region 7 stood out with the highest Dengue incidence, emphasizing the necessity of focused attention on regional patterns for effective public health strategies.";

      document.getElementById('interpretation').innerText = interpretationText;
      }
      else if (year === '2017') {
        var interpretationText =
        "In 2017, both Dengue cases and related deaths saw a significant decline from the previous year, offering a positive trend. " +
        "The peak monthly incidence in August underscores the importance of targeted interventions. " +
        "Notably, NCR emerged with the highest Dengue incidence, emphasizing the need for focused attention on regional patterns for effective public health strategies.";
        document.getElementById('interpretation').innerText = interpretationText;
      
      }
      else if (year === '2018') {
        var interpretationText =
      "In 2018, there was a 63% increase in Dengue cases, marking a negative trend for this year. " +
      "However, associated deaths decreased by 73% from the previous year. " +
      "While, July, August, and September exhibited peak Dengue cases, highlighting the critical need for targeted interventions. " +
      "Notably, Central Luzon recorded the highest Dengue incidence in the Philippines during this year.";
      document.getElementById('interpretation').innerText = interpretationText;
 
    }

      else if (year === '2019') {
        var interpretationText =
      "In 2019, Dengue cases increased by 76%, indicating a significant rise compared to the previous year. " +
      "The associated death reports also increased by 41%. " +
      "August and September stood out as peak months for Dengue incidence, emphasizing the urgency of targeted interventions. " +
      "Calabarzon emerged as the region with the highest Dengue cases in this year.";
      document.getElementById('interpretation').innerText = interpretationText;
  
      }
      else if (year === '2020') {
        var interpretationText =
      "In 2020, there was a remarkable 79% decrease in Dengue incidence, as well as a decrease in associated deaths, signifying a notable improvement from the previous year. " +
      "While, January and February were identified as the peak months for Dengue incidence, necessitating heightened vigilance during this period. " +
      "Moreover, Central Luzon reported the highest Dengue cases, indicating a regional focus for public health strategies.";
      document.getElementById('interpretation').innerText = interpretationText;
  
      }
      else {
        var interpretationText =
          "In 2021, only January captured Dengue cases, totaling 2,087 with 8 reported deaths. " +
          "Central Luzon emerged as the region with the highest Dengue incidence for this month, emphasizing the need for continued monitoring and intervention.";
         document.getElementById('interpretation').innerText = interpretationText;
  
      }
    }


}
YearlyChart();



</script>
</body>
</html>
