
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Time </div>
                        <div class="stat-digit"> <i class="fa fa-usd"></i>8500</div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Dengue Cases</div>
                        <div class="stat-digit"> <i class="fa fa-usd"></i>7800</div>
                    </div>
          
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Number of Death</div>
                        <div class="stat-digit"> <i class="fa fa-usd"></i> 500</div>
                    </div>
                
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
            <div class="card">
                <div class="stat-widget-two card-body">
                    <div class="stat-content">
                        <div class="stat-text">Task Completed</div>
                        <div class="stat-digit"> <i class="fa fa-usd"></i>650</div>
                    </div>
                    
                </div>
            </div> -->
            <!-- /# card -->
        <!-- </div> -->
        <!-- /# column -->
    </div>
      <!-- /.row -->

    <div class="row">
      <div class="col-lg-6 ">
        <div class="card">
          <div class="card-header">
            <h1>Bar chart</h1>
          </div>
          <div class="card-body">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

      <div class="col-lg-6 ">
        <div class="card">
          <div class="card-header">
            <h1>Pie chart</h1>
          </div>
          <div class="card-body">
            <canvas></canvas>
          </div>
        </div>
      </div>
    </div>
    </div><!-- /.container-fluid -->
  </div>
