
.stat-widget-two {
text-align: center;
padding: 1.25rem;
border: 1px solid rgba(255, 255, 255, 0.998);
background-color: white;
border: none;
outline: none;
}

.stat-widget-two .stat-digit {
    font-size: 2rem;
    font-weight: bold;

}

.stat-widget-two .stat-text {
    font-size: 16px;
    margin-bottom: 5px;
    color: #868e96;
}

.card {
    outline: none;

}

.card-header {
    border-color: white;
    background: transparent;
    border: 0;
}