        @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Quicksand:wght@300;400;500;600;700&display=swap');
        *{
            font-family: 'Quicksand', sans-serif;
        }

        body{ overflow-x: hidden; }

        .content-wrapper{ background: #fffdd1; }

        ::-webkit-scrollbar { width: 5px; }
        ::-webkit-scrollbar-track { background: #212529; }
        ::-webkit-scrollbar-thumb {
        background: #212529;
        transition: all 0.3s ease;
        }
        ::-webkit-scrollbar-thumb:hover { background: #000; }

        .nav-item{ padding-bottom: 2%;}
        .breadcrumb-item a { color: black; text-transform: uppercase;}

        .sidebar-toggle{
            font-size: 26px;
            color: #8a0303;
        }
        .info h1{
            font-weight: bold;
            font-size: 2em;
            margin-bottom: 0;
        }
        .info p{
            color: #212529;
            font-weight: 700;
            font-size: 0.9rem;
            margin: 0;
        }

        .brand-text, 
        .uinfo a,
        .icon_idle p, .icon_idle i{ color: white; font-weight: bold; }

        .icon{ font-weight: bold; }
        .icon p, .icon i{ 
            color: #9c0d0f;
            font-weight: bold; 
        }

        .inner p{ font-weight: bold; }

